body{
  background-color: #ff9be1;
  display: flex;
  justify-items: center;
}

#duck{
  margin: 0 25vw;
  height: 100vh;
  width: auto;
  z-index: -1;
  position: absolute;
}
#animate {
  position: relative;
  height: 100px;
  width: auto;
  z-index: 1;
  margin-top: 150px;
}

#animate img{
  height: 300px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  #duck {
    margin: 0 10px; /* Adjusted margin for smaller screens */
    height: 60vh;
    width: auto;
  }
  #animate {
    
    margin-top: 80px;
  }
}

/* For tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #duck {
    margin: 0 0; /* Adjusted margin for smaller screens */
    height: 60vh;
    width: auto;
  }
  #animate {
    
    margin-top: 80px;
  }
}
